/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin Thoth CSS */

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #58585b;
    line-height: 1.5em;
}
h1#pensive-title {
    font-size: 28px;
    line-height: 1.2em;
    padding: 8% 10% 0 10%;
    font-weight: 200;
}
h1#pensive-title a:link,
h1#pensive-title a:visited,
h1#pensive-title a:hover,
h1#pensive-title a:visited {
    text-decoration: none;
    display: block;
    color: #58585b;
}
p#pensive-metadata {
    display: block;
    margin: 0;
    color: #777777;
    padding: 0 0 5% 0;
    margin: 0 10% 5% 10%;
    border-bottom: 1px solid #efefef;
}
div#pensive-content{
    padding: 0 10% 5% 10%;
    position: relative;
}
div#pensive-content a, div#pensive-content a:visited {
    color: #000
}
div#pensive-content em {
    font-style: italic;
}
div#pensive-content strong {
    font-weight: bold;
}
div#pensive-content p,
div#pensive-content ol,
div#pensive-content ul,
div#pensive-content table,
div#pensive-content pre,
div#pensive-content blockquote {
    display: block;
    margin-bottom: 1em;
}
div#pensive-content h1,
div#pensive-content h2 {
    font-size: 1.618em;
    margin-bottom: .618em;
    line-height: 1.2em;
    margin-top: .381em;
}
div#pensive-content h3,
div#pensive-content h4,
div#pensive-content h5,
div#pensive-content h6 {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1em;
    margin-top: .381em;
}
div#pensive-content ul, div#pensive-content ol {
    padding-left: 1.2em;
}
div#pensive-content ul li, div#pensive-content ol li {
    margin-bottom: .5em;
}
div#pensive-content ul li {
    list-style: outside disc;
}
div#pensive-content ol li {
    list-style: outside decimal;
}
div#pensive-content blockquote {
    padding-left: 1.2em;
    border-left: 1px solid #efefef;
}
div#pensive-content cite {
    font-style: italic;
}
div#pensive-content pre {
  margin-left: -12% !important;
  margin-right: -12% !important;
  background: #efefef;
  color: #000000;
  font-size: 0.83em;
  padding: 5% 12% !important;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
div#pensive-content pre code {
  padding-right: 12%;
}

div#pensive-content img {
    max-width: 100%;
    height: auto;
}
div#pensive-content iframe {
    max-width: 100%;
    height: auto;
}
