<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.concentricsky.android.pensive"
    android:versionCode="0009050"
    android:versionName="0.9.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:name="com.concentricsky.android.pensive.ThothApplication">
        <activity
            android:name="com.concentricsky.android.pensive.ThothMainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/share_with_label">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*" />
                <data android:mimeType="application/rss*" />
                <data android:mimeType="application/atom*" />
            </intent-filter>

            <intent-filter android:label="@string/add_to_thoth">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/xml"/>
            </intent-filter>

            <intent-filter android:label="@string/add_to_thoth">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="text/xml"/>
                <data android:mimeType="application/rss+xml"/>
                <data android:mimeType="application/atom+xml"/>
                <data android:mimeType="application/xml"/>
            </intent-filter>

            <intent-filter android:label="@string/add_to_thoth">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.xml"/>
                <data android:pathPattern=".*\\.rss"/>
            </intent-filter>


        </activity>

        <service android:enabled="true" android:name="com.concentricsky.android.pensive.RefreshFeedIntentService" />

        <service android:name="com.concentricsky.android.pensive.SyncAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator"
                       />
        </service>

        <provider android:name="com.concentricsky.android.pensive.SyncStubProvider"
                  android:authorities="@string/sync_provider_authority"
                  android:exported="false"
                  android:syncable="true"
                  />

        <service android:name="com.concentricsky.android.pensive.SyncService"
                 android:exported="true"
                 android:process=":sync">
            <intent-filter>com.concentricsky.android.pensive.provider
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter"/>
         </service>

    </application>



</manifest>
